<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示投票内容</title>
</head>
<body>
    <h1>{{ Ques.question_text }}</h1>
    <br>
    <br>
    {% if myError %}
        <p><strong>{{ myError }}</strong></p>
    {% endif %}
    <form action="{% url 'poll:showaction' Ques.id %}" method="post">
        {% csrf_token %}

        {% if Ques.id|divisibleby:"2" %}
            {% for x in Chos %}
    {#            radio是单选，name属性内容必须一样，选择按钮才相联系，value的内容是每个按钮的携带的属性#}
                <input type="checkbox" name="choice" value="{{ x.id }}">{{ x.choicetext }}
            {% endfor %}

        {% else %}
            {% for x in Chos %}
{#            radio是单选，name属性内容必须一样，选择按钮才相联系，value的内容是每个按钮的携带的属性#}
                <input type="radio" name="choice" value="{{ x.id }}">{{ x.choicetext }}
            {% endfor %}


        {% endif %}
        <input type="submit" value="提交">
    </form>
</body>
</html>